# Data Cleaning Project Unit Test

## Import Dependencies

In [1]:
import pandas as pd
from playground import execute_dsl

## Test

1. ``drop``: Deletes a column or a row in the table

In [2]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    drop(table=table1, labels=[col1, col2], axis=1)
"""

execute_dsl(tables, dsl_code)

start
  command	{'drop': {'table': Token('NAME', 'table1'), 'labels': ['col1', 'col2'], 'axis': Token('AXIS', '1')}}

Executing command: Tree(Token('RULE', 'command'), [{'drop': {'table': Token('NAME', 'table1'), 'labels': ['col1', 'col2'], 'axis': Token('AXIS', '1')}}])
Table before column move:
    col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
Table after drop:
    col3
0    11
1    12
2    13
3    14
4    15

In [3]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    drop(table=table1, labels=[1, 2], axis=0)
"""

execute_dsl(tables, dsl_code)

start
  command	{'drop': {'table': Token('NAME', 'table1'), 'labels': ['1', '2'], 'axis': Token('AXIS', '0')}}

Executing command: Tree(Token('RULE', 'command'), [{'drop': {'table': Token('NAME', 'table1'), 'labels': ['1', '2'], 'axis': Token('AXIS', '0')}}])
Table before column move:
    col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
Table after drop:
    col1  col2  col3
0     1     6    11
3     4     9    14
4     5    10    15

2. ``move``: Relocates a column from one position to another in the table

In [4]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    move(table=table1, column=col1, to=2)
"""

execute_dsl(tables, dsl_code)

start
  command	{'move': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'col1')]), 'to': Token('NUMBER', '2')}}

Executing command: Tree(Token('RULE', 'command'), [{'move': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'col1')]), 'to': Token('NUMBER', '2')}}])
Table before column move:
    col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
Table after column move:
    col2  col3  col1
0     6    11     1
1     7    12     2
2     8    13     3
3     9    14     4
4    10    15     5

3. ``copy``: Duplicates a column and append the copied column to the end of the table

In [5]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    copy(table=table1, column=col3, new_column=col1_copy)
"""

execute_dsl(tables, dsl_code)

start
  command	{'copy': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'col3')]), 'new_column': Tree(Token('RULE', 'label'), [Token('NAME', 'col1_copy')])}}

Executing command: Tree(Token('RULE', 'command'), [{'copy': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'col3')]), 'new_column': Tree(Token('RULE', 'label'), [Token('NAME', 'col1_copy')])}}])
Table before column copy:
    col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
Table after column copy:
    col1  col2  col3  col1_copy
0     1     6    11         11
1     2     7    12         12
2     3     8    13         13
3     4     9    14         14
4     5    10    15         15

4. ``merge``: Concatenates two columns and append the merged column to the end of the table

In [6]:
table1 = pd.DataFrame(
    {
        "first_name": ["Alice", "Bob", "Charlie", "David", "Eve"],
        "last_name": ["Smith", "Johnson", "Williams", "Jones", "Brown"],
        "ages": [25, 30, 35, 40, 45],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    merge(table=table1, column1=first_name, column2=last_name, glue=" ", new_column=name)
"""

execute_dsl(tables, dsl_code)

start
  command	{'merge': {'table': Token('NAME', 'table1'), 'column1': Tree(Token('RULE', 'label'), [Token('NAME', 'first_name')]), 'column2': Tree(Token('RULE', 'label'), [Token('NAME', 'last_name')]), 'glue': Token('STRING', '" "'), 'new_column': Tree(Token('RULE', 'label'), [Token('NAME', 'name')])}}

Executing command: Tree(Token('RULE', 'command'), [{'merge': {'table': Token('NAME', 'table1'), 'column1': Tree(Token('RULE', 'label'), [Token('NAME', 'first_name')]), 'column2': Tree(Token('RULE', 'label'), [Token('NAME', 'last_name')]), 'glue': Token('STRING', '" "'), 'new_column': Tree(Token('RULE', 'label'), [Token('NAME', 'name')])}}])
Table before column merge:
   first_name last_name  ages
0      Alice     Smith    25
1        Bob   Johnson    30
2    Charlie  Williams    35
3      David     Jones    40
4        Eve     Brown    45
Table after column merge:
   first_name last_name  ages              name
0      Alice     Smith    25       Alice Smith
1        Bob   Johnson    30       Bob Johnson
2    Charlie  Williams    35  Charlie Williams
3      David     Jones    40       David Jones
4        Eve     Brown    45         Eve Brown

5. ``split``: Separates a column into two or more halves at the occurrences of the delimiter

In [7]:
table1 = pd.DataFrame(
    {
        "name": ["Alice Smith", "Bob Johnson", "Charlie Williams", "David Jones", "Eve Brown"],
        "ages": [25, 30, 35, 40, 45],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    split(table=table1, column=name, delimiter=" ", new_columns=[first_name, last_name])
"""

execute_dsl(tables, dsl_code)

start
  command	{'split': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'name')]), 'delimiter': Token('STRING', '" "'), 'new_columns': ['first_name', 'last_name']}}

Executing command: Tree(Token('RULE', 'command'), [{'split': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'name')]), 'delimiter': Token('STRING', '" "'), 'new_columns': ['first_name', 'last_name']}}])
Table before column split:
                name  ages
0       Alice Smith    25
1       Bob Johnson    30
2  Charlie Williams    35
3       David Jones    40
4         Eve Brown    45
Table after column split:
                name  ages first_name last_name
0       Alice Smith    25      Alice     Smith
1       Bob Johnson    30        Bob   Johnson
2  Charlie Williams    35    Charlie  Williams
3       David Jones    40      David     Jones
4         Eve Brown    45        Eve     Brown